.app__Cover {
    img {
        max-width: 500px;
    }

    p {
        background-color: #d8141447;
        position: absolute;
        margin: -50px 0 0 200px;
        padding: 10px;
        border-radius: 20px;
    }
}